@font-face{
    font-family: pixelfont;
    src: url('slkscr.ttf') format('truetype');
}

body {
    background-color: black;
}

canvas {
    display: block;
    margin: 0px 0px;
    width: 800px;
    //position: absolute;
    //left: 0px;
    //top: 0px;
}

#board {
    display: None;
}
