@font-face{
    font-family: pixelfont;
    src: url('slkscr.ttf') format('truetype');
}

body {
    background-color: darkgrey;
    margin: 0;
}

canvas {
    display: block;
    margin: 0px auto;
    //width: 800px;
    //position: absolute;
    //left: 0px;
}

#board {
    display: None;
}
