@font-face{
    font-family: pixelfont;
    src: url('slkscr.ttf') format('truetype');
}

body {
    background-color: black;
    margin: 0;
}

canvas {
    display: block;
    margin: 0 auto;
}

#board {
    display: None;
}

#collision {
    display: None;
}
